* {
    inset: 0;
}

.header {
    display: flex;
    background-color: rgb(39, 78, 109);
    justify-content: center;
}

.title {
    display: flex;
    color: white;
}

main {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

.error {
    display: flex;
    border: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(204, 39, 39);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
}

.location {
    display: flex;
    border: solid 2px;
    padding: 10px;
    border-radius: 10px;
    height: 240px;
    width: 240px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: solid 2px;
    border-radius: 10px;
    height: 240px;
    width: 240px;
    
}

.black-text {
    color: black;
}

.orange-text {
    color: orange;
}

.center {
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    background-color: rgb(39, 78, 109);
    color: white;
    padding: 10px;
    
}